p{
    font-size: 50px;
}
#dv1{
    position: absolute;
    top: 0;
    left: 150px;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 0, 0, 0.5);
}
#dv2{
    position: absolute;
    top: 350px;
    left: 500px;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 255, 0.5);
}