#d1,#d2,#d3{
    border: 10px dotted red;
    padding: 50px;
    background-color: #0F0;
    margin-bottom: 10px;
}
#d1{
    background-clip: border-box;
}
#d2{
    background-clip: padding-box;
}
#d3{
    background-clip: content-box;
}